body { margin:0; font-family:Arial; }
#map { height:100vh; width:100%; }

.topbar {
  position:absolute; top:10px; left:50%;
  transform:translateX(-50%);
  background:white; padding:10px;
  border-radius:10px;
}

.bottom {
  position:absolute; bottom:10px; left:50%;
  transform:translateX(-50%);
  background:white; padding:10px;
  border-radius:10px;
}
